body {
    font-family: 'Montserrat';
}


.navbar-custom {
    position: absolute;
    top: 0;
    font-family: 'Open Sans';
    margin: 10px;
}
    .navbar-custom h1 {
        display: inline-block;
        border-bottom: 2px solid #cb4f44;
    }
    .navbar-custom span {
        color: #cb4f44;
        font-weight: lighter;
    }

    .navbar-custom .navbar-brand {
        color: white;
        border: 4px solid white;
    }
        .navbar-custom .navbar-brand:hover {
            background-color: #cb4f44;
            color: white;
            border: 4px solid black;
        }

.navbar-custom a {
    color: #252525;
}

section {
    padding: 20vh 0;
}

.one {
    /* background-color: #252525; */
    padding: 35vh 0;
    background-image: url(https://res.cloudinary.com/justenphelpscom/image/upload/c_scale,e_grayscale,w_4612/v1526671621/nathan-dumlao-485797-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0px 20px 10px black;
}
    .one > h1 {
        font-size: 2vw;
        position: absolute;
        padding: 10px;
        bottom: 0px;
        text-align: center;
        width: 100%;
        color: white;
        text-transform: uppercase;
        background: #252525;
        letter-spacing: .5rem;
    }

.one-shape {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #cb4f44;
    color: white;
    margin: 0 auto;
    display: grid;
    place-content: center;
    box-shadow: 2px 4px 5px black;
    transition: top ease 0.5s;
    top: 0;
    position: relative;
}

    .one-shape:hover {
        top: -10px;
    }

/* .one::before,
.one::after {
    position: absolute;
    background: #252525;
    height: 150px;
    width: 150px;
    content: '';
    bottom: -1em;
}

    .one::before {
        right: 50%;
        transform: skew(0, 20deg);
    }

    .one::after {
        left: 50%;
        transform: skew(0, -20deg);
    } */

.two {
    background: #cb4f44;
    color: white;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
    text-align: center;
    padding: 30vh 0;
}

.three {
    background: #f7f8fa;
    text-align: center;
}

    .flex-container {
        display: flex;
        margin: 20px;
    }

        .box1 {
            flex: 1;
            padding: 20px;
        }

        .box2 {
            flex: 1;
            padding: 20px;
        }

        .box3 {
            flex: 1;
            padding: 20px;
        }

.footer-container {
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: #cb4f44;
    color: white;
}

    .footer-box1 {
        flex: 1;
    }

    .footer-box2 {
        flex: 1;
    }

    .footer-box3 {
        flex: 1;
    }

#email-me:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 740px) {
    .flex-container {
        flex-direction: column;
    }
}