body {
    font-family: 'Montserrat';
}


.navbar-custom {
    font-family: 'Open Sans';
    margin: 10px;
    width: 100%;
    color: white;
}
    .navbar-custom .nav-logo {
        height: 40px;
        width: 40px;
        position: absolute;
        right: 20px;
    }
        .nav-link{
            color: white!important;
        }
    .navbar-custom h1 {
        border-bottom: 2px solid #cb4f44;
    }
    .navbar-custom span {
        color: #cb4f44;
    }

    .navbar-custom .navbar-brand {
        color: white;
        border: 4px solid white;
        font-weight: bold;
    }
    .navbar-brand:hover {
        color: white!important;
    }
     .hvr-sweep-to-right:before {
         color: white;
         background: #cb4f44;
     }

    .hvr-underline-from-center:before {
        background: #f7f8fa;
    }
section {
    padding: 20vh 0;
}

.one {
    padding: 50vh 0;
    background-image: url(https://res.cloudinary.com/justenphelpscom/image/upload/e_grayscale,o_90/v1526671621/denys-nevozhai-541044-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0px 20px 10px black;
    height: 70vh;
}
    #typed {
        position: relative;
        display: grid;
        align-content: center;
        font-size: 1.5vw;
        padding: 5px;
        text-align: center;
        width: 100%;
        color: #cb4f44;
        text-transform: uppercase;
        background: rgba(10, 10, 10, 0.9);
        line-height: 1;
    }
    #down-arrow {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: 0 auto;
    }
        #down-arrow:hover {
            transform: scale(1.1);
            opacity: 0.6;
        }
.two {
    background: #cb4f44;
    color: white;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% calc(100% - 10vw), 0 100%);
    margin-bottom: -10vw;
    text-align: center;
    padding: 20vh 0;
}
    .text-container {
        padding-bottom: 150px;
        font-size: 1.2em;
    }
        .text-container p {
            text-align: left;
        }
        .award-svg {
            text-align: center;
            margin-bottom: 20px;
        }
        .hvr-bounce-in {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }
        .hvr-bounce-in:hover,
        .hvr-bounce-in:focus,
        .hvr-bounce-in:active {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
            transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        }

.three {
    background: #f7f8fa;
}
    .three h1 {
        text-align: center;
        margin-bottom: 50px;
    }
        .three  p {
            padding: 20px;
        }

    .web-box {
        text-align: center;
    }
    .cpu-box {
        text-align: center;
    }

    .custom-row {
        margin: 20px;
    }

.footer-container {
    display: flex;
    text-align: center;
    padding: 20px;
    background-color: #252525;
    color: white;
}

    .footer-box1 {
        flex: 1;
    }

    .footer-box2 {
        flex: 1;
    }

    .footer-box3 {
        flex: 1;
    }

#email-me:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 740px) {
    .flex-container {
        flex-direction: column;
    }
}